html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
  }
  
  .pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;

    opacity: 0;
    animation: display 10s infinite;
    height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    margin-top: 9vh;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  } 